@page
@model MFCWebApplication.Pages.ProjectPages.WorkerModel
@{
}

<br>
<h2>List of Worker</h2>
<a class='btn btn-primary btn-sm' href='/ProjectPages/CreateWorker'>New Adress</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>FIO</th>
            <th>DateOfBirth</th>
            <th>PhoneNumber</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listWorker)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.FIO</td>
                <td>@item.DateOfBirth</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <a class="btn btn-danger btn-sm" href="/ProjectPages/DeleteWorker?id=@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>